@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}


/* 'red': '#962a27', */